body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #F9F9F9;
    font-family: 'Inter';
}

.header {
    color: #FFF;
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071533;
    font-size: 14px;
    padding: 0px 40px;
    height: 50px;
}

.logo-links {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 22px;
}

.links a {
    padding: 0px 10px;
    color: #FFF;
    text-decoration: none;
}

.home:hover,
.courses:hover {
    transition: color 0.3s;
    color: #808080;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-email {
    padding: 0px 10px;
}

.user img {
    width: 35px;
    height: 35px;
    border-radius: 30px;
}
