<div class="header">
    <div class="container">
        <div class="logo-links">
            <div class="logo">UniTech Learning</div>
            <nav class="links">
                <ul>
                    <a class="home" href="/pages/courses/index.html">Home</a>
                    <a class="courses" href="#">Cursos</a>
                </ul>
            </nav>
        </div>
        <div class="user">
            <div class="user-email">Olá, Maria!</div>
            <img src="../../src/assets/images/profile.png" alt="Imagem de perfil do usuário">
        </div>
    </div>
</div>