body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #1C3354;
}

header {
    color: #FFF;
    font-family: 'Inter';
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071533;
    font-size: 12px;
    padding: 0px 20px;
}

.logo-links {
    display: flex;
    align-items: center;

}

.logo {
    font-size: 18px;
}

.links a {
    padding: 0px 10px;
}

.home:hover,
.courses:hover {
    transition: color 0.3s;
    color: #808080;
}

nav,
a {
    color: #FFF;
}

a {
    text-decoration: none;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email {
    padding: 0px 10px;
}

.user img {
    width: 30px;
    border-radius: 30px;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d9d9d9;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.logo img {
    width: 150px;
}

.input-group {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 7px;
    width: 90%;
}

.input-group .icon {
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 12px;
}

.input-group img {
    width: 18px;
    height: 18px;
}

button {
    background: #071533;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #1C3354;
}