html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #F9F9F9;
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-container {
  flex: 1; /* Faz o container ocupar o espaço restante entre header e footer */
  display: flex;
  justify-content: center; /* Centraliza horizontal */
  align-items: center; /* Centraliza vertical */
}

.login {
  background: #d9d9d9;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 320px;
}

.logo img {
  width: 150px;
}

.input-group {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  width: 90%;
}

.input-group .icon {
  margin-right: 10px;
}

.input-group input {
  border: none;
  outline: none;
  font-size: 14px;
}

.input-group img {
  width: 18px;
  height: 18px;
}

.forgot-password {
  font-size: 14px;
  margin-left: 270px;
}

button {
  background: #071533;
  color: white;
  border: none;
  padding: 13px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #1C3354;
}

#footer {
  background-color: #071533;
  color: white;
  padding: 20px;
  text-align: center;
  /* Mantém o footer no fim */
  flex-shrink: 0;
}
