body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #1C3354;
    font-family: 'Inter';
}

header {
    color: #FFF;
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071533;
    font-size: 12px;
    padding: 0px 30px;
}

.logo-links {
    display: flex;
    align-items: center;

}

.logo {
    font-size: 18px;
}

.links a {
    padding: 0px 10px;
}

.home:hover,
.courses:hover {
    transition: color 0.3s;
    color: #808080;
}

.logo-links a {
    color: #FFF;
    text-decoration: none;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email {
    padding: 0px 10px;
}

.user img {
    width: 30px;
    border-radius: 30px;
}

.forgot-password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d9d9d9;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.password-icon img {
    width: 80px;
    height: 80px;
}

.title, .subttitle{
    font-family: 'Inter';
}

.input-group {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 7px;
    width: 90%;
}

.input-group .icon {
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 12px;
}

.input-group img {
    width: 18px;
    height: 18px;
}

.option-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-link {
    background: #0538A5;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin: 15px 0px;
}

.create-account {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    margin: 15px 0px 20px 0px;
}


.back-login a {
    color: #000;
    text-decoration: none;
}

.back-login {
    color: #000;
    font-weight: 600;
    border-radius: 5px;
    border: solid 1px #808080;
    padding: 10px 30px;
}
