body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #F9F9F9;
    font-family: 'Inter';
}

.forgot-password {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d9d9d9;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 430px;
}

.password-icon img {
    width: 80px;
    height: 80px;
}

.title, .subtitle{
    font-family: 'Inter';
}

.title {
    font-size: 24px;
}

.input-group {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    width: 90%;
}

.input-group .icon {
    margin-right: 10px;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 14px;
}

.input-group img {
    width: 18px;
    height: 18px;
}

.option-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-link {
    background: #071533;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin: 15px 0px;
}

.create-account {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    margin: 10px 0px 20px 0px;
}


.back-login a {
    color: #000;
    text-decoration: none;
}

.back-login {
    color: #000;
    font-weight: 600;
    border-radius: 5px;
    border: solid 1px #808080;
    padding: 10px 30px;
}

